.header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#gameboard {
    height: 600px;
    width: 600px;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);

}

.cells {
    box-sizing: border-box;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 150px;
    font-family: sans-serif;
}


.cells:hover {
    background-color: red;
}

