.header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gameboard {
    height: 600px;
    width: 600px;
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cells {
    box-sizing: border-box;
    border: 1px black solid;
}

.cells:hover {
    background-color: red;
}